@media screen and (min-width: 320px) {
  /* Header */
  ul.menu.list {
    display: none;
  }
  ul.address-list.list {
    display: none;
  }
  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .menu-modal-btn {
    border: none;
    background-color: transparent;
  }
  .modal {
    width: 100%;
    height: auto;
  }
  .modal-menu-link:hover,
  .modal-menu-link:focus {
    color: var(--accent-color);
  }
  .icon-menu2 {
    stroke: var(--main-color);
    width: 32px;
    height: 22px;
  }
  /* Hero-section */
  .hero-title {
    font-size: 36px;
    margin-bottom: 72px;
  }
  .hero-section {
    padding: 112px 0px;
  }
  /* Features-section */
  .features-icon-box {
    display: none;
  }
  .features-list {
    flex-direction: column;
    row-gap: 72px;
    text-align: center;
  }
  .features-list-item {
    width: 100%;
  }
  .features-section {
    padding: 96px 0px;
  }
  /* Information-section */
  .information-section {
    display: none;
  }
  /* Our-team-section */
  .team-list {
    align-items: center;
  }
  .team-item {
    width: 264px;
  }
  .container {
    width: 100%;
  }
  .our-team-section {
    padding: 96px 0px;
  }
  /* Customers-section */
  .customers-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
  }
  .customers-section {
    padding: 96px 0px;
  }
  /* Footer-section */
  .footer {
    padding: 96px 0;
  }
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }
  .footer-soc-box {
    margin: 0;
    text-align: center;
  }
  .footer-box {
    text-align: center;
    margin: 0;
  }
  .footer-form-flex {
    flex-direction: column;
    align-items: center;
  }
  .link-box {
    text-align: center;
  }
  .section-paragraph-of-footer {
    text-align: left;
  }
}
@media screen and (min-width: 480px) {
  /* Header */
  .modal {
    width: 392px;
    height: 586px;
  }
  .menu-contact-phone {
    font-size: 36px;
  }
  .modal-icons-soc-list {
    gap: 56px;
  }
  /* Footer */
  .subscribe-input {
    width: 398px;
  }
}
@media screen and (min-width: 768px) {
  /* Header */
  ul.menu.list {
    display: flex;
  }
  ul.address-list.list {
    display: block;
  }
  .header-btn-box {
    display: none;
  }
  .header-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .contact-mail,
  .contact-phone {
    font-size: 12px;
  }
  .address-item-phone {
    margin-top: 12px;
  }
  /* Hero-section */
  .modal {
    width: 408px;
    height: 586px;
  }
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg@tablet.jpg);
  }
  .hero-title {
    font-size: 56px;
  }
  /* Features-section */
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
  /* Information-section */
  .information-section {
    display: none;
  }
  .features-list-item {
    width: calc((100% - 24px) / 2);
    text-align: start;
  }
  /* Our-team-section */
  .container {
    max-width: 736px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
  /* Customers-section */
  .customers-list-item {
    width: 168px;
  }
  .customers-list {
    column-gap: 24px;
  }
  /* Footer-section */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
    padding-left: 92px;
  }
  .footer-soc-box {
    margin: 0;
    text-align: start;
  }
  .footer-box {
    text-align: start;
  }
  .footer-form-flex {
    flex-direction: row;
  }
  .link-box {
    text-align: start;
  }
  .section-paragraph-of-footer {
    text-align: left;
  }
  .subscribe-input {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  /* Header */
  ul.menu.list {
    display: flex;
  }
  ul.address-list.list {
    display: flex;
  }
  .contact-mail,
  .contact-phone {
    font-size: 16px;
  }
  .address-item-phone {
    margin-top: 0;
  }
  /* Hero-section */
  .modal {
    height: 584px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .hero-section {
    padding: 188px 0px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-1@desktop.jpg);
  }
  /* Features-section */
  .features-title {
    font-weight: 500;
    font-size: 20px;
  }
  .features-text {
    font-weight: 400;
  }
  .features-section {
    padding: 120px 0px;
  }
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-icon-box {
    display: flex;
  }
  /* Information-section */
  .information-section {
    display: block;
  }
  .information-section-list {
    justify-content: space-between;
  }
  /* Our-team-section */
  .container {
    padding: 0 15px;
    max-width: 1158px;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .our-team-section {
    padding: 120px 0px;
  }
  /* Customers-section */
  .customers-list {
    flex-wrap: nowrap;
  }
  .customers-section {
    padding: 120px 0px;
  }
  /* Footer-section */
  .footer-container {
    gap: 0;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 16px;
  }
  .footer-soc-box {
    margin-left: 120px;
  }
  .footer-box {
    margin-left: 80px;
  }
  /* Portfolio */
  .img-list-item {
    width: 360px;
  }
}
